@model MVC.Models.LoginViewModel
@{
    ViewBag.Title = "Registrate";
}

<div class="row" style="margin-top:10%;">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" style="border-color:black">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken();
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                    <center>
                        <div class="form-group">
                            <br />
                            <label>E-mail</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @style = "width:300px" })
                            <label>Name</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "width:300px" })
                            <label>Password</label>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @style = "width:300px" })
                            <br />
                            <div class="editor-field">
                                @Html.reCaptcha()
                            </div>
                            <br />
                            <div>
                                <a href="Login" class="btn btn-primary" style="width:100px">Go to Login</a>
                                <button class="btn btn-success" style="margin-left:10px; width:180px" type="submit">Create account</button>
                            </div>
                        </div>
                    </center>
                }
                @Html.ValidationSummary()
            </div>
        </div>
    </div>
</div>
