@model MVC.Models.AppUser
@using MVC.Models
@{
    ViewBag.Title = "GuestWall";
    AppUser owner = ViewBag.Owner;
    string imgSrc = null;
    if (owner.Avatar != null)
    {
        var base64 = Convert.ToBase64String(owner.Avatar);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<div id="dialog" title="" class="btn btn-default">
    <div><label for="count">Message </label>
        <textarea id="message" style="width:400px;height:200px;"></textarea>
    </div>
    <div><input type="button" id="sendMessage" class="btn btn-primary" value="Send"/></div>
</div>

<table class="table">
    <tr>
        <td style="width:30%;">
            <center>
                @if (imgSrc == null)
            {
                    <img src="http://www.ehypermart.in/0/images/frontend/image-not-found.png" style="  border:groove; width:300px; height: auto; max-height:500px">
                }
                else
                {
                    <img src="@imgSrc" style=" width:300px; height: auto; max-height:500px">
                }
                
                <button id="show" class="btn btn-primary" style="margin-top:5%">Send Message</button>
                @if (ViewBag.Subscribe)
            {
                    @Html.ActionLink("Subscribe", "Subscribe", "Guest", new { OwnerId = ViewBag.Owner.Id }, 
                    new { @class = "btn btn-primary", @style="margin-top:5%"})
                }
                else
                {
                    @Html.ActionLink("UnSubscribe", "UnSubscribe", "Guest", new { OwnerId = ViewBag.Owner.Id },
                   new { @class = "btn btn-primary", @style = "margin-top:5%" })
                }
            </center> 
        </td>
        <td >
            <p>
                <h2>@owner.UserName</h2>
            </p>
            <p>
                <h5>
                    Subscribers: @ViewBag.Subscribers
                </h5>
            </p> 
            <hr />
            <div class="text-primary">
                @using (@Html.BeginForm("AddPost", "Posts", new { OwnerWall = Model }))
                {
                    <input type="text" name="to" hidden value="@owner.Id" />
                    @Html.TextArea("Content", new { @style = "width:750px; height:150px; resize:none" })
                    <br />
                    <input type="submit" value="Add New Post" class="btn btn-primary center-block" />
                }
            </div>
             @if (ViewBag.Posts != null)
            {
                    foreach (WallPost posts in (List<WallPost>)(ViewBag.Posts))
                    {
                        <div style="width:95%; margin-top:5%; background-color:aliceblue;
                          box-sizing:border-box; padding:20px; word-break:break-all; border:groove">
                            <p style="margin-left:10%; margin-top:5%">
                                <h3>@Html.ActionLink(posts.Owner.UserName, "Wall", "Wall", new { OwnerId = posts.Owner.Id })</h3>
                                <h5>@posts.Time</h5>
                                <br />
                                @posts.Content
                                <br />
                                <br />
                                <div style="width:95%">
                                    <a href="@Url.Action("Like", "Posts",new { Id = posts.Id })" class="btn btn-primary">
                                        <font color="white">
                                            Like
                                            @posts.LikeCount
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        </font>
                                    </a>
                                    <a href="@Url.Action("Delete", "Posts", new { Id = posts.Id })" class="btn btn-danger pull-right">
                                        <font color="white">
                                            Delete
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </font>
                                    </a>
                                </div>
                            </p>
                        </div>
                     }
             }
             else
             {
                    <center>
                        <h2 style="margin-top:20%">No posts</h2>
                    </center>
                }
        </td>
    </tr>
</table>  
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function ()
        {
             var chat = $.connection.chatHub;

             $.connection.hub.start().done(function () {
                 $('#sendMessage').click(function () {
                     chat.server.send("@Model.Id", "@owner.UserName", $('#message').val());
                     $('#message').val('').focus();
                     $('#dialog').dialog("close");
                 });
             });
             $('#dialog').dialog({
                 modal: true,
                 autoOpen: false
             })
             $('#show').button().click(function () {
                 $('#dialog').dialog("open");
             })
    });
    </script>
}