@using MVC.Models
@model MVC.Models.AppUser
@{
    ViewBag.Title = "Wall";
    string imgSrc = null;
    if (Model.Avatar != null)
    {
        var base64 = Convert.ToBase64String(Model.Avatar);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}


<table class="table">
    <tr>
        <td style="width:30%;">
            @if (imgSrc == null)
            {
                <center>
                    <img src="http://www.ehypermart.in/0/images/frontend/image-not-found.png" style="border:groove; width:300px; height: auto; max-height:500px">
                    @Html.ActionLink("Set avatar", "Settings", "Wall", new { @class = "btn btn-primary", @style = "margin-top:5%" })
                </center>
            }
            else
            {
                <center>
                    <img src="@imgSrc" style="border:groove; width:300px; height: auto; max-height:500px">
                     @Html.ActionLink("Set avatar", "Settings", "Wall", new { @class = "btn btn-primary", @style = "margin-top:5%" })
            </center>
            }
        </td>
        
        <td>
            <p>
                <h2>@Model.UserName</h2>
            </p>
            <p>
                <h5>
                    @Html.ActionLink("Subscribers:  " + (int)@ViewBag.Subscribers, "Subscribers", "Wall")
                </h5>
            </p>
            <hr />
             <div class="text-primary">
                 @using (@Html.BeginForm("AddPost", "Posts"))
                 {
                    <input type="text" name="to" hidden value="@Model.Id" />
                    @Html.TextArea("Content", new {@style="width:750px; height:150px; resize:none" })
                     <br />
                    <input type="submit" value="Add New Post" class="btn btn-primary center-block"/>
                 }
             </div>
            @if (ViewBag.Posts != null)
            {
                    foreach (WallPost posts in (List<WallPost>)(ViewBag.Posts))
                    {
                    <div style="width:95%; margin-top:5%; background-color:aliceblue;
                          box-sizing:border-box; padding:20px; word-break:break-all; border:groove">
                        <p style="margin-left:10%; margin-top:5%">
                            <h3>@Html.ActionLink(posts.Owner.UserName, "Wall", "Wall", new { OwnerId = posts.Owner.Id })</h3>
                            <h5>@posts.Time</h5>
                            <br />
                               @posts.Content
                            <br />
                            <br />
                            <div style="width:95%">
                                @using (Ajax.BeginForm("Like", "Posts", new { Id = posts.Id }, new AjaxOptions { UpdateTargetId = @posts.Id.ToString() }))
                                {
                                    <button id="@posts.Id" type="submit" class="btn btn-primary">
                                        <font color="white">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                            @posts.LikeCount
                                        </font>
                                    </button>
                                   
                                if (Model.Id == posts.Owner.Id || Model.Id == posts.Wall.Id)
                                {
                                    <a href="@Url.Action("Delete", "Posts", new { Id = posts.Id, OwnerId = Model.Id })" class="btn btn-danger pull-right">
                                    <font color="white">
                                        Delete
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </font>
                                    </a>
                                }
                                }
                            </div>
                        </p>
                    </div>
                    }
                }
            else
            {
                <center>
                   <h2 style="margin-top:20%">No posts</h2>
                </center>
            }
        </td>
    </tr>
</table>

