@using MVC.Models
@model IEnumerable<AppUser>

@{
    ViewBag.Title = "Accounts";
}

<div class="panel panel-primary">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-center">No account</td>
            </tr>
        }
        else
        {
            foreach (AppUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @Html.ActionLink("Block User", "BlockUser", new { id = user.Id }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Reset Pass", "ResetPass", new { id = user.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Make Admin", "MakeAdmin", new { id = user.Id }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            }
        }
    </table>
</div>